$background: #fff;
$header: #ff656c;
$input-border: #ccc;
$button-hover: #ff7b81;
$button-border: #e15960;
$button-background: #ff656c;

.login-block {
  background: $background;
  border-radius: 5px;
  border-top: 5px solid $header;
  margin: 0 auto;
  padding: 20px;
  width: 320px;

  > h1 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
  }

  > input {
    border: 1px solid $input-border;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 14px;
    height: 42px;
    margin-bottom: 20px;
    outline: none;
    padding: 0 20px 0 50px;
    width: 100%;

    &:before {
      content: '\f023';
      font-family: FontAwesome;
    }
  }

  > button {
    background: $button-background;
    border: 1px solid $button-border;
    border-radius: 5px;
    box-sizing: border-box;
    color: $background;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    outline: none;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      background: $button-hover;
    }
  }
}
