$background: #fff;
$input-border: #ccc;
$button-border: #132d6e;
$button-background: #0d38a2;
$footer-background: #404040;
$footer-text: #aaa;

.login-block {
  background: $background;
  margin: 10% auto;
  padding: 20px;
  width: 320px;

  > h1 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
  }

  > input {
    border: 1px solid $input-border;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    height: 42px;
    margin-bottom: 20px;
    outline: none;
    padding: 0 20px 0 50px;
    width: 100%;
  }

  .user-icon {
    &:before {
      content: '\f007';
      font-family: FontAwesome;
      left: 20px;
      position: relative;
      top: 30px;
    }
  }

  .password-icon {
    &:before {
      content: '\f023';
      font-family: FontAwesome;
      left: 20px;
      position: relative;
      top: 30px;
    }
  }

  > button {
    background: $button-background;
    border: 1px solid $button-border;
    border-radius: 5px;
    box-sizing: border-box;
    color: $background;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    outline: none;
    text-transform: uppercase;
    width: 100%;
  }

  .login-footer {
    background-color: $footer-background;
    bottom: 0;
    box-sizing: border-box;
    color: $footer-text;
    height: 50px;
    left: 0;
    position: absolute;
    width: 100%;

    .info-footer {
      padding-top: 16px;
      text-align: center;
    }
  }
}
